


@media (min-width: 600px) {
    .shutdown {
        width: 8px;
        height: 8px;
        flex-shrink: 0;
    }
}

@media (min-width: 1200px) {
    .shutdown {
        width: 14px;
        height: 14px;
        flex-shrink: 0;
    }
}